html 
    head
        title='Mi app pug'
        link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    body
        h2(class='m-3')='Lista de productos'
        div(class="container-fluid row justify-content-center")
            table(class="table margen")
                thead(class="thead-dark")
                    tr
                        th(scope="col")='ID'
                        th(scope="col")='Title'
                        th(scope="col")='Price'
                        th(scope="col")='Image'
                tbody
                    - if (listExists === true)
                        each prod in productos 
                            tr
                                th(scope="row")=prod.id
                                td=prod.title
                                td=prod.price 
                                td 
                                    img(src=prod.thumbnail style="height:40px;")
        a(href="/" class="m-3")='Subir nuevos productos' 