<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <h2 class="m-3">Lista de productos</h2>
    <a class="m-3"href="/">Subir nuevos productos</a>
    <div class="container-fluid row justify-content-center">
        <table class="table margen">
        <thead class="thead-dark">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <% if (listExists == true) { %> 
                <% for (const prod of productos){  %>
                    <tr>
                        <th scope="row"><%=prod.id%></th>
                        <td><%=prod.title%></td>
                        <td><%=prod.price%></td>
                        <td><img src="<%=prod.thumbnail%>" style="height: 40px;"></td>
                    </tr>
                <% }; %>
           <% } else{ %>
                <h3 class="alert alert-danger">No se encontraron productos</h3>
            <% } %>
        </tbody>
        </table>
    </div>
    
</body>
</html>
